body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login-form {
    max-width: 400px;
    padding: 30px;
    background-color: rgb(245, 243, 239);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.login-form img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.login-form h1 {
    margin: 10px 0;
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login-form button,
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(62, 138, 231);
    color:white;
    cursor: pointer;
    outline:none;
    transition: background-color 0.3s ease; 
}

.login-form button:hover,
.login-form input[type="submit"]:hover {
    background-color: rgb(146, 213, 235);
    color:white;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.signup-button-container {
    width: 100%;
    text-align: center;
}

.signup-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: rgb(230, 231, 226);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: rgb(84, 84, 237);
}

.Sign-Up {
    text-align: center;
    margin-top: 10px;
}

.Sign-Up a {
    color: #007bff;
    text-decoration: none;
}

.Sign-Up a:hover {
    text-decoration: underline;
}

.logo{
    height: 270px;
}