body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding-left:200px;
    padding-right:200px;
}

h2 {
    color: rgb(75, 165, 233);
    position:fixed;
    margin-left: 3rem;
}

.cart-container {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 5rem;
    margin-top: 2rem;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 2rem;
    margin-top: 5rem;;
}

.cart-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.quantity-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.quantity-btn {
    background-color: #eaaeae; 
    color: #fff;
    border:none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
}

.quantity-btn:hover{
    background-color: #816060;

}

.remove-btn {
    background-color: #e64747;
    margin-top: 14px;
}

.remove-btn:hover {
    background-color: #933030;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

#clearCartBtn {
    background-color: #383838;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
    margin-top:15px;
}

#clearCartBtn:hover {
    background-color: #5a5a5a;
}

#cart-order{
    background-color: rgb(245, 198, 7);
    padding: 8px;
    margin-top: 55px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 17%;
    text-decoration: none;
}

#cart-order:hover{
    background-color: rgb(155, 124, 2);
}
