body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password {
    max-width: 400px;
    padding: 30px;
    background-color: rgb(245, 243, 239);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-password h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.forgot-password input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.forgot-password button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(62, 138, 231);
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}


.forgot-password button:hover {
    background-color: rgb(146, 213, 235);
}

.forgot-password p{
    text-align: center;
}

.new-account {
    text-align: center;
    margin-top: 10px;
}

.new-account a {
    color: #007bff;
    text-decoration: none;
}

.new-account a:hover {
    text-decoration: underline;
}